body{
	background-color:#ccb3ff;
	margin:0;
}
.center{
	text-align:center;
}
.text {
	text-align:left;
	width:38em;
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	line-height: 2;
}
.text p {
	text-align:left;
}
.textheader {
	text-align:center;
}
.textheader h2 {
	margin-bottom:.5em;
}
.textheader h4 {
	margin-top:.5em;
}
div{
	text-align:center;
}
p{
	text-align:center;
}
#notfunny {
	width:15em;
	max-width:75%;
}
nav a{
	text-decoration:none;
	color:black;
	padding-right:1em;
	padding-left:1em;
	padding-top:.5em;
	padding-bottom:.5em;
	text-align:center;
}
nav a:hover{
	color:white;
}
.navelement {
	padding-top:.5em;
	padding-bottom:.5em;
	border-style:none solid none none;
	border-width:1px;
	border-color:gray;
	height:100%;
	display:inline;
}
nav {
	padding-left:2em;
	padding-top:.5em;
	padding-bottom:.5em;
	margin-bottom:1em;
	background-color:#aa80ff;
}
@media screen and (max-width: 400px) {
	nav a{
		padding-right:4px;
		padding-left:4px;
		padding-top:4px;
		padding-bottom:4px;
		text-align:center;
	}
	.navelement {
		padding-top:4px;
		padding-bottom:4px;
		height:100%;
		display:inline;
	}
	nav {
		padding-left:4px;
		padding-top:4px;
		padding-bottom:4px;
		margin-bottom:4px;
		background-color:#aa80ff;
	}
}
footer{
	position:relative;
	text-align:center;
	top:18%;
	padding-bottom:.5em;
	width:100%;
	clear:left;
}
.flag {
	margin:.5em;
	float:left;
	width:12em;
	max-width:40%;
}
.flag img {
	width:100%;
}

#flags {
	text-align:center;
}
.clear {
	clear:left;
}
.GALOGO img{
	width:15em;
	max-width:75%;
}
.misc {
	width:60em;
	max-width:95%;
}

#garfunkian-calendar {
	width:60em;
	max-width:95%;
}
#p1 {
	margin:0;
	margin-bottom:1em;
}