body{
	background-color:#be80e5;
	
}
.center{
	text-align:center;
}
.text {
	text-align:left;
	max-width:85vw;
	width:38rem;
	margin-left:auto;
	margin-right:auto;
	line-height: 2;
}
.text p {
	text-align:left;
}
.textheader {
	text-align:center;
}
.textheader h2 {
	margin-bottom:.5rem;
}
.textheader h4 {
	margin-top:.5rem;
}
div{
	text-align:center;
}
p{
	text-align:center;
}
#notfunny {
	width:15em;
	max-width:50vw;
}
nav a{
	margin-right:.5rem;
	color:white;
	text-decoration:none;
	padding:.5rem;
}
nav {
	background-color:#57147b;
	padding:.75rem;
	padding-left:4rem;
	border-radius:2rem;
	margin-bottom:1rem;
	
}
footer{
	position:relative;
	top:18vh;
	padding-bottom:2vh;
	width:100%;
	clear:left;
}
.flag {
	margin:2vw;
	float:left;
}
.flag img {
	width:18em;
	max-width:30vw;
}

#flags {
	text-align:center;
}
.clear {
	clear:left;
}
.GALOGO img{
	width:15em;
	max-width:50vw;
}
.misc {
	width:80vw;
}

#garfunkian-calendar {
	width:60em;
	max-width:95vw;
}
#p1 {
	margin:0;
	margin-bottom:1rem;
}