body{
	background-color:#c995e9;
	
}
#logo {
	width:15em;
	max-width:50vw;
}
.website-header{
	text-align:center;
	display:block;
}
.website-header h4{
	margin-top:0;
}
.website-header h1{
	margin-bottom:.25rem;
}
div{
	text-align:center;
}
.center{
	text-align:center;
}
p{
	text-align:center;
}
.paragraph {
	padding-left:15vw;
	padding-right:15vw;
}
nav a{
	margin-right:.5rem;
	color:white;
	text-decoration:none;
	padding:.5rem;
}
nav {
	background-color:#57147b;
	padding:.75rem;
	padding-left:4rem;
	border-radius:2rem;
	margin-bottom:1rem;
	
}
footer{
	position:relative;
	top:18vh;
	padding-bottom:2vh;
	width:100%;
}
#p1 {
	margin:0;
	font-weight:bold;
	margin-bottom:1rem;
}
h4 {
	margin:0;
}