body{
	background-color:#ccb3ff;
	
}
#logo {
	width:15em;
	max-width:50vw;
	margin-top:1rem;
}
.website-header{
	text-align:center;
	display:block;
}
.website-header h4{
	margin-top:0;
}
.website-header h1{
	margin-bottom:.25rem;
}
div{
	text-align:center;
}
.center{
	text-align:center;
}
p{
	text-align:center;
}
.paragraph {
	padding-left:15vw;
	padding-right:15vw;
}
nav a{
	margin-right:10px;
}
footer{
	position:relative;
	top:18vh;
	padding-bottom:2vh;
	width:100%;
}
#p1 {
	margin:0;
	font-weight:bold;
	margin-bottom:1rem;
}
h4 {
	margin:0;
}