body{
	background-color:#be80e5;
	
}



div{
	text-align:center;
}
p{
	text-align:center;
}
nav a{
	margin-right:.5rem;
	color:white;
	text-decoration:none;
	padding:.5rem;
}
nav {
	background-color:#57147b;
	padding:.75rem;
	padding-left:4rem;
	border-radius:2rem;
	margin-bottom:1rem;
	
}
footer{
	position:relative;
	top:18vh;
	padding-bottom:2vh;
	width:100%;
}
.video {
	width:32em;
	height:24em;
	max-width:80vw;
	max-height:60vw;
}
.GTVLOGO img{
	width:12em;
	max-width:50vw;
}